{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="my-3" novalidate>
        {{ form.csrf_token }}
        <!--오류표시 Start-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!--오류표시 End-->
        {{ form.subject.label }} <!--<label for="">제목</label>-->
        {{ form.subject(class='form-control mb-3') }} <!--<input type="text" name="" id="">-->

        {{ form.content.label }} <!--<label for="">내용</label>-->
        {{ form.content(class='form-control', rows='5') }} <!--<textarea name="" id="" rows="5"></textarea>-->
        {{ form.submit(class='btn btn-primary my-3') }} <!--<button type="submit">저장하기</button>-->
    </form>
</div>
{% endblock %}